.header {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
  font-size: 30px;
  border-color: black;
  border-width: 3px;
  border-style: solid;
}
.headerItem {
  border-color: black;
  border-width: 1px;
  border-style: solid;
  padding: 4px 4px 4px 4px;
  font-size: 34px;
}
.headersList {
  display: flex;
  justify-content: start;
  align-self: start;
}